.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #f7b733;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  width: 12rem;
  font-size: 18px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #f7b733;
  cursor: pointer;
  pointer-events: none;
}
