@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #d53369 0%, #f7b733 100%);
  color: white;
  font-family: "Quicksand", sans-serif;
  min-width: 650px;
  max-width: 650px;
  min-height: 650px;
  max-height: 650px;
  /* min-height: 100vh; */
  overflow: hidden;
}

h1 {
  font-weight: 300;
}

/* Transition
.select:hover::after {
  transform: scale(1.5);
}
*/
